<div class="body">
  <div class="title">
      Wellcome to Stock Area Warehouses <br>
  </div>
  <div class="wrapper" id="wrapper">
      <div class="warehouse">
          <p class="name">These Are List Of Warehouses we offering you</p>
          <Button (click)="onClick()" routerLink="/warehouse-list">Warehouses List</Button>
      </div>
      <div class="warehouse">
          <p>Click Here To Explore The Details Of The Warehouses</p>
          <Button (click)="onClick()"> Warehouse Details</Button>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>
